body{
    font-family: Arial,sans-serif;
    text-align: center;
    background-color: rgba(91, 211, 209, 0.818);
    margin-top: 50px;
}
h2{
    color:rgba(39, 48, 32, 0.721);
}
input{
    display:block;
    margin: 10px;
    padding: 10px;
    width: 220px;
    border: 1px solid rgba(87, 3, 241, 0.032);
    border-radius: 4px;
    color: red;

}
div{

}

button{
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    color: white;
    background-color: #38d219f0;
    
}

button:hover{
    background-color: #076eed;
}